.main-container {
	max-width: 98rem;
	margin: 0 auto;
	padding: 5rem 0;
	text-align: center;

	ul {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;
		margin-top: 5rem;

		li {
			display: flex;
			flex-direction: column;

			img {
				max-width: 100%;
				border-radius: 5px 5px 0 0;
			}

			footer {
				flex: 1;
				background-color: #fff;
				border: 1px solid #eee;
				padding: 1.5rem 2rem;
				text-align: left;
				border-radius: 0 0 5px 5px;

				strong {
					font-size: 1.6rem;
					color: #333;
				}

				p {
					font-size: 1.4rem;
					line-height: 20px;
					color: #999;
					margin-top: 5px;
				}
			}

			.buttons {
				margin-top: 1rem;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 1rem;

				button {
					height: 5rem;
					box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
					border: 0;
					border-radius: 4px;
					background-color: #fff;
					cursor: pointer;

					&:hover {
						img {
							transform: translateY(-5px);
							transition: all 0.2s;
						}
					}
				}
			}
		}
	}

	.empty {
		font-size: 3.2rem;
		color: #999;
		font-weight: bold;
		margin-top: 30rem;
	}
}
